.App{
  margin: 0;
  padding: 0;
  /* background-image: url(https://images.unsplash.com/photo-1676345338852-29fb1026c12f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60); */
  background: url(./img/smoke.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  min-height: fit-content;
  min-width: fit-content;
}